body {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}


.img-box {
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-border {
  border: 1px solid #003049;
  /* width: 100%; */
  border-radius: 20px;
}

input {
  
  text-align: center;
  border: none; /* Remove border */
  outline: none; /* Remove focus outline */
  width: 90%;
  font-size: 14px;
  text-align: center;
}
